/*
CSS Styles
*/

body { 
font-family: sans-serif;
background-color: silver;
}

@keyframes J {
    from {color: red;}
    to   {color: yellow;}
}

#r {
    color: red;
    animation-name: J;
    animation-duration: 1s;
    animation-iteration-count: 20;}

#o {
    color: orange;}

#y {
    color: yellow;
    animation-name: J;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-iteration-count: 6;}

#g {
    color: green;}
#b {
    color: blue;}
#i {
    color: indigo;}

#v {
    color: violet;
    animation-name: J;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: 3;}
